* {
    margin : 0;
    border : 0;
    box-sizing: border-box;

}

html, body {
    height: 100%;
    width: 100%;
    font-family: General Sans;
}

html{
    scroll-behavior: smooth;
}

#main{
    width: 100%;
    background-color: black;
    color: white;
}

#nav{
    width: 100%;
    padding: 10px 10px;
    padding-left: 2vw;
    padding-right: 3vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
    font-weight: bold;
}

#logo{
    border-radius: 100%;
    border: 2px solid white;
    margin-right: 50vw;
}
#nav a{
    color: white; 
    text-decoration: none;
    font-size: 10px;
}

#layout{
    display: flex;
    padding-left: 5vh;
    padding-bottom: 40px;
}


#layout img{
    width: 100vh;
    padding-right: 25px;
    border-radius: 50%;
}

#intro{
    /* background-color: red; */
    padding-top: 35px;
}
#intro p{
    font-size: 17px;
    margin-left: 5px;
    margin-right: 40px;
    text-align: center;
}
#intro h1{
    padding-bottom: 13px;
    padding-left: 25vh;
    font-size: 40px;
}

#background{
    padding-left: 5vh;
    padding-right: 3vh;
    /* padding: 3vh 3vh; */
}
#background p{
    font-size: 15px;
    padding-top: 13px;
}
#background a{
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 7px;
    padding: 5px 10px;
    margin-left: 15px;
}

#video
{
    padding: 20vh 5vh;
    /* padding-left: 20vh; */
    padding-right: 5vh;

}

#video h2{
    /* text-align: center; */
    padding: 1vh 3vh;
}
#video video{
    width: 100%;
    /* padding-left: 80vh; */
    border: 3px solid white;  
    border-radius: 5%;
}
#audio{
    padding: 5vh 3vh;
    padding-left: 3vw;
}
#audio h2{
    padding: 7vh 3vh;
}
#traits{
    padding: 5vh 5vh;
    padding-bottom: 25vh;
}

#traits h2{
    padding: 4vh 3vh;
}
#traits li{
    font-size: 13px;
    padding-top: 2vh;
}

#traits img{
    border: 2px solid white;
    border-radius: 100%;

}
#news{
    padding-bottom: 15vh;
    width: 100%;
}
#news h2{
    /* text-align: center; */
    padding: 5vh 5vh;
    /* padding-bottom: 40px; */
}

#readmore{
    display: flex;
    padding-left: 3vh;
}

#readmore img{
    width: 40%;
    border: 2px solid white;
    border-radius: 2%;

}

#readmore h4{
    padding: 10vh 5vh;
}

#text h4{
    text-align: center;
}
#text p{
    padding-left: 5vh;
    padding-right: 3vh;
    font-size: 13px;
}

#text a{
    text-align: center;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    font-size: 7px;
    padding: 5px 10px;
    margin-left: 30px;
}

#review label{
    display: block;
    text-align: center;
    padding-bottom: 10px;
}

#review textarea{
    margin-left: 50vh;
    display: block;
    width: 60%;
    color: grey;
    border: 2px solid grey;
    border-radius: 2%;
}

#review button{
    margin: 5vh 5vh;
    margin-left: 165vh;
}

#footer{
    display: flex;

}

#footer{
    width: 100%;
    padding: 10px 5px;
    padding-left: 7vh;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding-bottom: 50px; */

}

#footer h5{
    margin-right: 140vh;
    font-size: 2vh;
    text-transform: uppercase;
}
#footer a{
    color: white;
    text-decoration: none;
    font-size: 7px;
    padding-right: 5vh;
}

.characters{
    display: flex;
    justify-content: space-between;
    padding-top: 10vw;

}
.title{
    display: flex;
    /* margin: 10px; */
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-right: 12vw;
    padding-left: 7vw;
}